* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{scroll-behavior:smooth}

/* font */
.reg {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.bold-title-1 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.bold-title-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.bold-title-3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.logo-font {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(rgb(100, 221, 255), rgb(255, 70, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* navbar */
.navbar {
    background-color: rgb(0, 15, 73);
    display: flex;
    height: 3em;
    padding: 0% 5%;
    align-items: center;
    position: sticky;
    top: 0%;
}

.right-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.menu {
    text-decoration: none;
    color: rgba(100, 221, 255, 0.597);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.left-nav, .right-nav {
    width: 50%;
}

.menu:hover {
    color: rgb(100, 221, 255);
}

/* content */
.container-web {
    padding: 0% 5%;
    background-color: rgb(0, 15, 73);
}

.ln-spacing {
    margin-top: 20px;
}


/* content-1 */

.content-1 {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-1 span{
    color: rgb(255, 176, 247);
}

.content-1 p {
    width: 80%;
}

.exp {
    background-color: rgb(255, 176, 247);
    padding: 8px;
    border-radius: 10px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.exp:hover {
    background-color: rgb(255, 92, 239);
    color: white;
}

/* content-2 */
.content-2 {
    padding-top: 3em;
    color: white;
}

.ctn-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.box {
    border: 2px dashed rgb(187, 220, 255);;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    border-radius: 10px;
}

/* footer */
footer {
    padding: 0% 5%;
    background-color: rgb(0, 15, 73);
    height: 15em;
    color: white;
    display: flex;
    align-items: center;
}

.left-foo, .right-foo {
    width: 50%;
}

.left-foo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(61, 168, 198), rgb(255, 70, 236));
    margin-right: 50px;
    border-radius: 10px;
    height: 80%;
}

.right-foo {
    padding: 0% 0% 0% 10%;
    display: flex;
    align-items: center;
    height: 80%;
    border-left: 1px solid rgb(255, 176, 247);
}

/* about page */

.question {
    color: white;
    padding-top: 20px;
}

.block-left {
    background-image: linear-gradient(to right, rgb(197, 77, 185), rgba(255, 176, 247, 0));
    padding: 1%;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 50px;
}

.block-right {
    background-image: linear-gradient(to left, rgb(102, 172, 199), rgba(255, 176, 247, 0));
    padding: 1%;
    border-radius: 8px;
    text-align: right;
}

.desc {
    display: none;
    text-align: justify;
    padding-top: 10px;
}

.more-about {
    padding-top: 130px;
    color: white;
    display: flex;
}

.more-left p {
    padding-top: 20px;
    text-align: justify;
}

.more-left, .more-right {
    width: 50%;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.more-right a {
    color: rgb(102, 172, 199);
}

.more-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-profile {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.lastly {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}